@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--bg: #05060a;
}


html,body,#__next{
height:100%;
}


body{
background: linear-gradient(180deg,#031029 0%, #07183a 100%);
font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
