@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--bg: #0b46e6; /* reze blue */
}


html,body,#__next{
height:100%;
}


body{
background: linear-gradient(180deg, var(--bg) 0%, #0836b3 100%);
color: white;
font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}


a{ color: inherit; }


```
